.cart-content {
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.cart-btn {
    width: 652px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-direction: column;

    &__box {
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        gap: 48px;
        // padding-bottom: 64px;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-family: inherit;
        padding: 17px 40px 16px 39px;
        text-transform: uppercase;
        border: 1px solid #A4A4A4;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $siteColorLight;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
            box-shadow: 0 0 10px #E2E2E2;
        }
    }
}


.cart-card {
    display: flex;
    height: 306px;
    // width: 100%;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background: $siteColorLight;
    position: relative;

    &__wrap {
        padding-top: 22px;
        padding-left: 31px;
        padding-right: 66px;
        display: flex;
        flex-direction: column;
        gap: 42px;
        max-width: 262px;
    }

    &__img {
        height: 100%;
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $siteColorDark;
    }

    &__properties {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__property {
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #575757;

        &_color {
            color: $siteColorMain;
        }

        &_quantity {
            font-family: inherit;
            margin-left: 24px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #656565;
            border: 1px solid #EAEAEA;
            border-radius: 0px;
            text-align: center;
            height: 25px;
            width: 44px;
        }
    }

    &__remove-item {
        position: absolute;
        top: 28px;
        right: 22px;
        display: flex;
        background-color: $siteColorLight;
        border: none;
        cursor: pointer;
    }
}

.shipping-total {
    display: flex;
    flex-direction: column;
    gap: 57px;
    width: 360px;
}

.shipping {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $siteColorDark;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 360px;
    }

    &__btn {
        height: 35px;
        font-family: inherit;
        margin-top: 3px;
        padding: 11px 21px;
        align-self: flex-start;
        text-transform: uppercase;
        // width: 102px;
        font-style: normal;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        border: 1px solid #A4A4A4;
        border-radius: 0px;
        background: none;
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
            box-shadow: 0 0 10px #E2E2E2;
        }
    }
}

.input {
    height: 45px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: $siteColorDark;
    padding: 13px 18px 16px;
    border: 1px solid #A4A4A4;
    border-radius: 0px;
    text-decoration: none;
    outline: none;

    &::placeholder {
        color: #B1B1B1;
    }

}

.total {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #F5F3F3;
    min-height: 214px;
    padding: 39px 33px 42px 43px;
    width: 360px;

    &__sub {
        display: flex;
        justify-content: end;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        margin-bottom: 12px;

        &_price {
            padding-left: 26px;
        }
    }

    &__grand {
        display: flex;
        margin-right: 3px;
        justify-content: end;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $siteColorDark;

        &_price {
            padding-left: 26px;
            color: $siteColorMain;
        }
    }

    &__line {
        height: 1px;
        background: #E2E2E2;
        margin-top: 21px;
        margin-bottom: 17px;
    }

    &__btn {
        height: 50px;
        max-width: 274px;
        font-family: inherit;
        padding: 15px 42px 15px;
        align-self: center;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: $siteColorLight;
        background: $siteColorMain;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
            box-shadow: 0 0 5px $siteColorMainHover;
        }
    }
}