.catalog-items__flex_product-padding {
    padding-top: 128px;
    padding-bottom: 128px;
}

.top-block {
    background: #F8F3F4;
    height: 148px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 32px;


    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $siteColorMain;
    }
}

.breadcrump {
    display: flex;
    flex-direction: row;
    gap: 8px;

    &__item {
        text-decoration: none;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363;

        &:not(:last-child)::after {
            padding-left: 8px;
            content: '/';
        }

        &:last-child {
            font-weight: 700;
            color: $siteColorMain;
        }
    }
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
    height: 777px;
    position: relative;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;

    &__img {
        max-height: 100%;
        max-width: 100%;
    }

    &__arrow-left {
        height: 47px;
        width: 47px;
        background: #2a2a2a15;
        position: absolute;
        left: 0;
        // top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;

        & path {
            transition: all 0.2s ease-in;
        }

        &:hover path {
            fill: $siteColorMain;
        }
    }

    &__arrow-right {
        height: 47px;
        width: 47px;
        background: #2a2a2a15;
        position: absolute;
        right: 0;
        // top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;

        & path {
            transition: all 0.2s ease-in;
        }

        &:hover path {
            fill: $siteColorMain;
        }
    }
}

summary {
    display: block;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 64px 24px;
    gap: 12px;
    max-width: $siteWidthDesctop;
    background: $siteColorLight;
    min-height: 100px;
    margin: -65px auto 0px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    position: relative;
    z-index: 10;

    &__subheading {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: $siteColorMain;
    }

    &__line {
        width: 64px;
        height: 3px;
        background: $siteColorMain;
        border: none;
    }

    &__heading {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
    }

    &__text {
        padding-top: 36px;
        padding-bottom: 20px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
        text-align: center;
        max-width: 550px;
    }

    &__price {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $siteColorMain;
        padding-bottom: 53px;
    }

    &__hr {
        display: block;
        min-width: 56%;
        max-width: 642px;
        height: 1px;
        background: #EAEAEA;
        border: none;
    }

    &__filter {
        padding-top: 53px;
        padding-bottom: 36px;
        display: flex;
        flex-direction: row;
        gap: 24px;
        position: relative;

        &__form {
            background: $siteColorLight;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 7px 42px 11px 12px;
            display: flex;
            flex-direction: column;
            gap: 9px;
            position: absolute;
            top: 72px;


            &-size {
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #6F6E6E;
            }
        }

        &__item {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            cursor: pointer;
        }

        &__item[open]>.product-info__filter__items::after {
            content: url(img/Vector-2.svg);
        }

        &__items {
            &::-webkit-details-marker {
                display: none;
            }

            &::after {
                content: url(img/Vector.svg);
                padding-left: 8px;
            }
        }
    }

    &__cart {
        display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        color: $siteColorMain;
        border: 1px solid $siteColorMain;
        height: 48px;
        width: 212px;
        gap: 23px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        transition: all 0.3s ease-out;

        &:hover {
            color: $siteColorLight;
            border: 1px solid $siteColorLight;
            background: $siteColorMain;
            transition: all 0.3s ease-out;

            & path {
                fill: $siteColorLight;
            }
        }

        & path {
            fill: $siteColorMain;
        }
    }
}