@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@import 'vars';
@import 'scss/product';
@import 'scss/catalog';
@import 'scss/cart';
@import 'scss/registration';

* {
    margin: 0;
    padding: 0;
}

body {
    background: $siteColorLight;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

.center {
    max-width: $siteWidthDesctop;
    padding-left: calc(50% - $siteWidthDesctop / 2);
    padding-right: calc(50% - $siteWidthDesctop / 2);
}

.content-box {
    overflow: hidden;
    position: relative;
}

.header {
    height: 75px;
    background-color: $siteColorDark;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 41px;
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        gap: 33px;
        padding-right: 16px;
    }

    &__menu-link {
        display: flex;
        align-items: center;

        &_burger {
            color: #000000;
            position: relative;
            display: flex;
            gap: 16px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
        }
    }

    &__menu-link:last-child {
        position: relative;
    }

    &__menu-label {
        display: flex;
        cursor: pointer;
    }
}

.hidden-desctop {
    display: none;
}

.mobile-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 75px;
    right: -232px;
    width: 232px;
    background: $siteColorLight;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    height: fit-content;
    box-sizing: border-box;
    padding: 37px 33px 32px;
    transition: right 0.4s ease-out;
    z-index: 11;


    &__svg {
        position: absolute;
        top: 16px;
        right: 16px;
        cursor: pointer;
    }

    &__header {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }

    &__box {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-top: 4px;

    }

    &__link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $siteColorMain;
        width: fit-content;
        border-bottom: 2px solid transparent;

        &:hover {
            border-bottom: 2px solid $siteColorMain;
        }
    }

    &__sublink-box {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-left: 22px;
        padding-bottom: 6px;

    }

    &__sublink {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;

        &:hover {
            color: $siteColorMain;
        }
    }
}

#burger-menu {
    position: absolute;
    left: -99999999px;
    visibility: hidden;

    &:checked~.mobile-menu {
        right: 0px;
    }
}

.cart-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $siteColorLight;
    background: $siteColorMain;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 10;
}

.top__content {
    background: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 63px;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    overflow: hidden;
}

.top__img {
    max-width: 100%;
    width: 50%;
}

.top__slogan {
    width: 50%;
    padding-left: 16px;
    margin-bottom: 5.5%;
    border-left: 12px solid $siteColorMain;
}

.top__slogan:hover {
    animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) backwards;
}

.top__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: $siteColorDark;
}

.top__subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: $siteColorDark;
}

.top-pink {
    color: $siteColorMain;
}

.sale__content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 65px;
    padding-bottom: 96px;
}

.sale__item {
    display: flex;
    text-decoration: none;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}

.sale__item img {
    max-width: 100%;
}

.sale__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.sale__item:hover {
    transform: scale(1.10);
    filter: drop-shadow(2px 2px 8px #43231499);

}

.item-long {
    min-height: 180px;
    grid-column: 1 / -1;
}

.sale__text-deal {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: $siteColorLight;
}

.sale__text-caption {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $siteColorMain;
}

.catalog__header {
    padding-bottom: 48px;
    text-align: center;
}

.catalog__subheader {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 6px;
    color: $siteColorDark;
}

.catalog__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.catalog-items__flex {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog__item {
    width: 360px;
    background: #F8F8F8;
    position: relative;
    display: flex;
    flex-direction: column;
}

.catalog__item-wrap {
    padding: 23px 28px 20px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.catalog__img {
    transition: all 0.4s ease-out;
}

.catalog__item:hover .catalog__img {
    filter: brightness(50%);
}

.item-heading {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}

.item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    color: #5D5D5D;
}

.item-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $siteColorMain;
}

.cart {
    display: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: $siteColorLight;
    border: 1px solid $siteColorLight;
    height: 44px;
    width: 140px;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 190px;
    left: 110px;
    cursor: pointer;
}

.catalog__item:hover .cart {
    /* content: url("img/cart.svg") "Add To Cart"; */
    display: flex;
}

.svg__cart path,
.cart {
    transition: all 0.4s ease-out;
}

.cart:hover {
    box-shadow: 0 0 5px $siteColorLight;
}

.cart:hover .svg__cart path {
    fill: $siteColorMainHover;
}

.catalog__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-browse {
    font-family: inherit;
    padding: 15px 39px 14px;
    background: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid $siteColorMainDeep;
    color: $siteColorMainDeep;
    cursor: pointer;
    margin: 48px auto 60px;
    transition: all 0.3s ease-out;

    &:hover {
        color: $siteColorLight;
        background: $siteColorMainDeep;
    }
}

.footer__advantages,
.footer__logo {
    background: $siteBackgroundDark;
}

.footer__advantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 103px;
    padding-bottom: 104px;
}

.advantages {
    &__item {
        max-width: 360px;
        min-height: 134px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    &__header {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        padding-left: 22px;
        padding-right: 22px;
    }
}

.footer__cart-items {
    display: none;
    flex-direction: column;
    margin-top: 96px;
    margin-bottom: 96px;
}

.footer__subscribe {
    background: url('img/bg_subscribe.svg');
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 126px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.subscribe {
    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:nth-child(2) {
            min-width: 356px;
            padding-left: 101px;
            padding-right: 100px;
        }
    }

    &_item img {
        max-width: 27%;
    }

    &__text-left {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $siteBackgroundDark;
        max-width: 359.45px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__right-heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        color: $siteBackgroundDark;
    }

    &__right-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        padding-bottom: 32px;
        text-align: center;
        color: $siteBackgroundDark;
        /* width: 100%; */
    }

    &__right-form {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__input,
    &__btn {
        font-family: inherit;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        opacity: 0.67;
        border: none;
        height: 49px;
    }

    &__input {
        background: #E1E1E1;
        color: $siteBackgroundDark;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding-left: 22px;
        padding-right: 22px;
        width: 100%;
        flex-grow: 1;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        background: $siteColorMain;
        color: $siteColorLight;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100px;
        flex-shrink: 0;
        cursor: pointer;
        transition: all 0.3s ease-out;

        &:hover {
            background: $siteColorMainHover;
        }
    }

}

.footer {
    &__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 79px;
    }

    &__copyright {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    &__logo-right {
        display: flex;
        gap: 7.3px;
    }

    &__logo-link {
        width: 31.45px;
        height: 32px;
        font-size: 16px;
        background: $siteColorLight;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: all 0.3s ease-out;

        &:hover {
            background: $siteColorMain;
            color: $siteColorLight;
        }
    }
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .hidden-desctop {
        display: flex;
    }

    .hidden-tablet {
        display: none;
    }

    .header {
        height: 74px;
    }

    .header__logo {
        padding-left: 16px;
    }

    .header__menu {
        padding-right: 16px;
    }

    .top__content {
        gap: 39px;
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
        align-items: center;
    }

    .top__slogan {
        margin-bottom: 0px;
    }

    .top__title {
        font-size: 44px;
        line-height: 53px;
    }

    .top__subtitle {
        font-size: 24px;
        line-height: 29px;
    }

    .sale__content {
        gap: 19px;
        /* grid-template-rows: 168px 116px; */
        padding-bottom: 110px;
    }

    .item-long {
        min-height: 100%;
    }

    .catalog-items__flex {
        gap: 16px;
    }

    .catalog__header {
        padding-bottom: 72px;
    }

    .catalog__subheader {
        margin-bottom: 3px;
    }

    .btn-browse {
        margin: 32px auto 72px;
    }

    .footer__advantages {
        gap: 48.5px;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .footer__subscribe {
        justify-content: center;
        padding-top: 64px;
        padding-bottom: 128px;
    }

    .subscribe_item:nth-child(2) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .subscribe__right-text {
        padding-bottom: 27px;
    }

    .footer__logo {
        padding-left: 32px;
        padding-right: 32px;
    }

    .cart-content {
        padding-top: 59px;
        flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
        // gap: 64px;
    }

    .shipping-total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;
        width: auto;
    }

    .shipping {
        margin-top: 0;
    }

    .total {
        margin-top: 39px;
    }

    .cart-btn {
        width: auto;

        &__box {
            padding-top: 22px;
            justify-content: center;
        }
    }

    .registration {
        padding-top: 40px;

        &__right {
            font-size: 16px;
            line-height: 19px;
            max-width: none;
        }

        &__perks:first-child {
            margin-bottom: 11px;
        }

        ul {
            gap: 20px;
        }
    }

    .filter-box {
        justify-content: space-between;
        height: 71px;
        padding-top: 10px;
    }

    .filter {
        width: fit-content;
        position: absolute;
        left: calc(50% - 360px - 7px);
    }

    .choise {
        width: fit-content;
        position: absolute;
        right: calc(50% - 360px - 8px);
    }

    .filter[open] {
        position: absolute;
        // width: 100%;
        // top: 42px;
        left: 0px;
        left: calc(50% - 360px - 8px);
    }

    .pages-box {
        margin-top: 40px;
        margin-bottom: 63px;
    }

    .slider {
        height: 624px;
        position: relative;
        padding-top: 30px;
        padding-bottom: 29px;
    }

    .product-info {
        margin-top: 0;
    }

    .catalog__items_row-reverse {
        flex-direction: row-reverse;
    }

    .slider__arrow-right {
        translate: 0 50%;
    }

    .slider__arrow-left {
        translate: 0 50%;
    }
}



@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        &__logo {
            padding-left: 0;
        }

        &__menu {
            padding-right: 0;
            gap: 0;
        }
    }

    .hidden-mobile {
        display: none;
    }

    .hidden-tablet {
        display: flex;
    }

    .top__content {
        padding-top: 148px;
        padding-bottom: 148px;
        justify-content: center;
    }

    .top__slogan {
        width: auto;
        padding-left: 15px;
    }

    .top__title {
        font-size: 38px;
        line-height: 46px;
    }

    .top__subtitle {
        font-size: 20px;
        line-height: 24px;
    }

    .item-long {
        grid-column: span 1;
        min-height: 111px;
    }

    .top__img {
        display: none;
    }

    .top-block {
        flex-direction: column;
        justify-content: center;

    }

    .sale__content {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 64px;
        grid-template-columns: minmax(auto, 360px);
        gap: 32px;
        justify-content: center;
    }

    .sale__item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .catalog__header {
        padding-bottom: 64px;
    }

    .btn-browse {
        margin: 40px auto 85px;
    }

    .footer__subscribe {
        padding-bottom: 110px;
    }

    .subscribe__text-left {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 22px;
    }

    .subscribe__right-text {
        font-size: 14px;
        line-height: 21px;
    }

    .footer__logo {
        flex-direction: column-reverse;
        justify-content: flex-start;
        height: 143px;
        gap: 40px;
    }

    .footer__copyright {
        padding-bottom: 9px;
    }

    .cart-content {
        padding-top: 39px;
        padding-bottom: 96px;
        gap: 48px;
    }

    .cart-card {
        height: 188px;

        &__title {
            font-size: 16px;
            line-height: 19px;
        }

        &__properties {
            gap: 4px;
        }

        &__property {
            font-size: 14px;
            line-height: 17px;

            &_quantity {
                margin-left: 16px;
                font-size: 14px;
                line-height: 17px;
                height: 16px;
                width: 24px;
            }
        }

        &__remove-item {
            height: 12px;
            width: 9px;
            top: 17px;
            right: 12px;
        }

        &__wrap {
            max-width: 146px;
            padding-top: 14px;
            padding-left: 17px;
            padding-right: 34px;
            gap: 26px;
        }
    }

    .cart-btn {
        gap: 32px;

        &__box {
            justify-content: space-between;
            gap: 9px;
            margin-top: -2px;
            padding-top: 0;
        }

        &__item {
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #575757;
            padding: 0;
            height: 33px;
            width: 175px;
            text-transform: capitalize;
        }
    }

    .shipping-total {
        flex-direction: column;
        align-items: stretch;
    }

    .shipping {
        width: auto;

        &__form {
            width: auto;
        }

        &__btn {
            text-transform: capitalize;
        }
    }

    .total {
        margin-top: 33px;
        width: auto;

        &__btn {
            padding: 15px 38px 15px;
            color: #575757;
        }
    }

    .registration {
        flex-direction: column;
        align-items: center;

        &__right {
            margin-top: 12px;
            width: 100%;
        }

        &__left {
            width: 100%;
        }
    }

    .filter-box {
        justify-content: center;
        gap: 22px;
        position: relative;
    }

    .filter {
        width: fit-content;
        position: absolute;
        left: calc(50% - 180px);

        svg {
            width: 37.5px;
            height: 25px;
        }
    }

    .choise {
        width: fit-content;
        position: absolute;
        right: calc(50% - 180px);
    }

    .filter[open] {
        position: absolute;
        top: 10px;
        left: 0px;
        left: calc(50% - 180px);
    }

    .product-info {
        &__text {
            padding-top: 20px;
            line-height: 20px;
            padding-bottom: 26px;
        }

        &__price {
            padding-bottom: 19px;
        }

        &__filter {
            padding-top: 36px;
            padding-bottom: 54px;

            &__item {
                font-size: 10px;
                line-height: 12px;
            }

            &__form {
                top: 48px;
            }

            &__form-size {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }


    .catalog-items__flex_product-padding {
        padding-top: 64px;
        padding-bottom: 64px;
    }


    .mobile-menu {
        align-items: center;
        width: 100%;
        right: -100%;
        top: 74px;

        &__box {
            align-items: center;
        }

        &__sublink-box {
            align-items: center;
            padding-left: 0;
        }
    }
}


@media (max-width: 374px) {
    .center {
        padding-left: 8px;
        padding-right: 8px;
    }

    .top__content {
        padding-top: 148px;
        padding-bottom: 148px;
        display: flex;
        justify-content: center;
    }

    .sale__content {
        grid-template-columns: minmax(auto, 304px);
        padding-left: 8px;
        padding-right: 8px;
    }

    .catalog__img {
        width: 100%;
    }

    .footer__advantages {
        gap: 46.5px;
        padding-bottom: 81px;
    }

    .subscribe__text-left {
        font-size: 18px;
        line-height: 22px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .subscribe_item:nth-child(2) {
        min-width: calc(100vw - 16px);
    }

    .footer__logo {
        flex-direction: column-reverse;
        justify-content: flex-start;
        height: 143px;
        gap: 40px;
    }

    .footer__copyright {
        padding-bottom: 9px;
    }

    .cart-card {
        &__wrap {
            padding-right: 20px;
        }
    }

    .registration {
        &__left {
            width: auto;
        }

        &__right {
            width: auto;
        }
    }

    .product-info {
        &__filter {
            gap: 10px;
        }
    }

    .total {
        &__btn {
            padding: 15px;
            align-self: stretch;
        }
    }
}