@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.catalog-items__flex_product-padding {
  padding-top: 128px;
  padding-bottom: 128px;
}

.top-block {
  background: #F8F3F4;
  height: 148px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.top-block__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrump {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.breadcrump__item {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrump__item:not(:last-child)::after {
  padding-left: 8px;
  content: "/";
}
.breadcrump__item:last-child {
  font-weight: 700;
  color: #F16D7F;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
  height: 777px;
  position: relative;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}
.slider__img {
  max-height: 100%;
  max-width: 100%;
}
.slider__arrow-left {
  height: 47px;
  width: 47px;
  background: rgba(42, 42, 42, 0.0823529412);
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.slider__arrow-left path {
  transition: all 0.2s ease-in;
}
.slider__arrow-left:hover path {
  fill: #F16D7F;
}
.slider__arrow-right {
  height: 47px;
  width: 47px;
  background: rgba(42, 42, 42, 0.0823529412);
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}
.slider__arrow-right path {
  transition: all 0.2s ease-in;
}
.slider__arrow-right:hover path {
  fill: #F16D7F;
}

summary {
  display: block;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 12px;
  max-width: 1140px;
  background: #FFFFFF;
  min-height: 100px;
  margin: -65px auto 0px;
  box-sizing: border-box;
  border: 1px solid #EAEAEA;
  position: relative;
  z-index: 10;
}
.product-info__subheading {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.product-info__line {
  width: 64px;
  height: 3px;
  background: #F16D7F;
  border: none;
}
.product-info__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}
.product-info__text {
  padding-top: 36px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  text-align: center;
  max-width: 550px;
}
.product-info__price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  padding-bottom: 53px;
}
.product-info__hr {
  display: block;
  min-width: 56%;
  max-width: 642px;
  height: 1px;
  background: #EAEAEA;
  border: none;
}
.product-info__filter {
  padding-top: 53px;
  padding-bottom: 36px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  position: relative;
}
.product-info__filter__form {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 42px 11px 12px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: absolute;
  top: 72px;
}
.product-info__filter__form-size {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.product-info__filter__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
}
.product-info__filter__item[open] > .product-info__filter__items::after {
  content: url(img/Vector-2.svg);
}
.product-info__filter__items::-webkit-details-marker {
  display: none;
}
.product-info__filter__items::after {
  content: url(img/Vector.svg);
  padding-left: 8px;
}
.product-info__cart {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  height: 48px;
  width: 212px;
  gap: 23px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.product-info__cart:hover {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background: #F16D7F;
  transition: all 0.3s ease-out;
}
.product-info__cart:hover path {
  fill: #FFFFFF;
}
.product-info__cart path {
  fill: #F16D7F;
}

summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}

.filter-box {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 39px;
  position: relative;
  height: 93px;
}

.imitate-blank {
  flex-basis: 360px;
}

.filter {
  flex-basis: 360px;
  padding: 13px 16px 16px 0px;
  width: 360px;
  box-sizing: border-box;
  z-index: 10;
  cursor: pointer;
  position: relative;
}
.filter__content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.filter[open] {
  padding-left: 16px;
  min-width: 360px;
  height: -moz-fit-content;
  height: fit-content;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__item[open] .filter__subheading {
  color: #F16D7F;
}
.filter__subsummary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 11px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 24px;
  padding-bottom: 6px;
  padding-left: 16px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}

.choise {
  flex-basis: 360px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-top: 13px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  position: relative;
}
.choise__form {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 32px 11px 12px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: absolute;
  top: 28px;
  left: 142px;
  z-index: 4;
}
.choise__form-size {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.choise__item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  cursor: pointer;
}
.choise__item[open] > .product-info__filter__items::after {
  content: url(img/Vector-2.svg);
}
.choise__items::-webkit-details-marker {
  display: none;
}
.choise__items::after {
  content: url(img/Vector.svg);
  padding-left: 8px;
}

.pages-wrapper {
  display: flex;
  justify-content: center;
}

.pages-box {
  margin-top: 48px;
  margin-bottom: 96px;
  width: 284px;
  height: 44px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
}
.pages-box__btn {
  border: none;
  background: none;
  display: flex;
  align-items: center;
}
.pages-box__content {
  width: 202px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}
.pages-box__item_active {
  color: #F16D7F;
}

.cart-content {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.cart-btn {
  width: 652px;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-direction: column;
}
.cart-btn__box {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  gap: 48px;
}
.cart-btn__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-family: inherit;
  padding: 17px 40px 16px 39px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.cart-btn__item:hover {
  box-shadow: 0 0 10px #E2E2E2;
}

.cart-card {
  display: flex;
  height: 306px;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  background: #FFFFFF;
  position: relative;
}
.cart-card__wrap {
  padding-top: 22px;
  padding-left: 31px;
  padding-right: 66px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  max-width: 262px;
}
.cart-card__img {
  height: 100%;
}
.cart-card__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
}
.cart-card__properties {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.cart-card__property {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}
.cart-card__property_color {
  color: #F16D7F;
}
.cart-card__property_quantity {
  font-family: inherit;
  margin-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #EAEAEA;
  border-radius: 0px;
  text-align: center;
  height: 25px;
  width: 44px;
}
.cart-card__remove-item {
  position: absolute;
  top: 28px;
  right: 22px;
  display: flex;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.shipping-total {
  display: flex;
  flex-direction: column;
  gap: 57px;
  width: 360px;
}

.shipping {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shipping__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.shipping__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 360px;
}
.shipping__btn {
  height: 35px;
  font-family: inherit;
  margin-top: 3px;
  padding: 11px 21px;
  align-self: flex-start;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  border-radius: 0px;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.shipping__btn:hover {
  box-shadow: 0 0 10px #E2E2E2;
}

.input {
  height: 45px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  padding: 13px 18px 16px;
  border: 1px solid #A4A4A4;
  border-radius: 0px;
  text-decoration: none;
  outline: none;
}
.input::-moz-placeholder {
  color: #B1B1B1;
}
.input::placeholder {
  color: #B1B1B1;
}

.total {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #F5F3F3;
  min-height: 214px;
  padding: 39px 33px 42px 43px;
  width: 360px;
}
.total__sub {
  display: flex;
  justify-content: end;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin-bottom: 12px;
}
.total__sub_price {
  padding-left: 26px;
}
.total__grand {
  display: flex;
  margin-right: 3px;
  justify-content: end;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.total__grand_price {
  padding-left: 26px;
  color: #F16D7F;
}
.total__line {
  height: 1px;
  background: #E2E2E2;
  margin-top: 21px;
  margin-bottom: 17px;
}
.total__btn {
  height: 50px;
  max-width: 274px;
  font-family: inherit;
  padding: 15px 42px 15px;
  align-self: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.total__btn:hover {
  box-shadow: 0 0 5px #E05C6E;
}

.registration {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 96px;
  gap: 22px;
}
.registration__left {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
}
.registration__heading {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.registration__radio-box {
  margin-top: 11px;
  margin-bottom: 13px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 10px;
}
.registration__radio-box:nth-child(2) {
  margin-left: 20px;
}
.registration__radio[type=radio] {
  height: 17px;
  width: 17px;
}
.registration__text {
  margin-top: -5px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}
.registration__btn {
  margin-top: 19px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  border: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 29px 17px;
  width: 167px;
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.registration__btn:hover {
  box-shadow: 0 0 5px #E05C6E;
}
.registration__right {
  max-width: 652px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  flex-shrink: 1;
}
.registration__perks:first-child {
  margin-bottom: 1px;
}
.registration__ul {
  list-style-image: url("img/tick.svg");
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
}
.registration__ul-item {
  margin-left: 24px;
  padding-left: 20px;
  list-style-position: outside;
}

#female {
  margin-left: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  font-family: "Lato", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.center {
  max-width: 1140px;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.content-box {
  overflow: hidden;
  position: relative;
}

.header {
  height: 75px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 41px;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  gap: 33px;
  padding-right: 16px;
}
.header__menu-link {
  display: flex;
  align-items: center;
}
.header__menu-link_burger {
  color: #000000;
  position: relative;
  display: flex;
  gap: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.header__menu-link:last-child {
  position: relative;
}
.header__menu-label {
  display: flex;
}

.hidden-desctop {
  display: none;
}

.mobile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 75px;
  right: -232px;
  width: 232px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 37px 33px 32px;
  transition: right 0.4s ease-out;
  z-index: 11;
}
.mobile-menu__svg {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.mobile-menu__header {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.mobile-menu__box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 4px;
}
.mobile-menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid transparent;
}
.mobile-menu__link:hover {
  border-bottom: 2px solid #F16D7F;
}
.mobile-menu__sublink-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 22px;
  padding-bottom: 6px;
}
.mobile-menu__sublink {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.mobile-menu__sublink:hover {
  color: #F16D7F;
}

#burger-menu {
  position: absolute;
  left: -99999999px;
  visibility: hidden;
}
#burger-menu:checked ~ .mobile-menu {
  right: 0px;
}

.cart-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  background: #F16D7F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 20px;
  z-index: 10;
}

.top__content {
  background: #F1E4E6;
  display: flex;
  align-items: center;
  gap: 63px;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  overflow: hidden;
}

.top__img {
  max-width: 100%;
  width: 50%;
}

.top__slogan {
  width: 50%;
  padding-left: 16px;
  margin-bottom: 5.5%;
  border-left: 12px solid #F16D7F;
}

.top__slogan:hover {
  animation: tracking-in-expand 1.7s cubic-bezier(0.215, 0.61, 0.355, 1) backwards;
}

.top__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.top__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.top-pink {
  color: #F16D7F;
}

.sale__content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: 260px 180px; */
  padding-top: 65px;
  padding-bottom: 96px;
}

.sale__item {
  display: flex;
  text-decoration: none;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}

.sale__item img {
  max-width: 100%;
}

.sale__wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sale__item:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 8px rgba(67, 35, 20, 0.6));
}

.item-long {
  min-height: 180px;
  grid-column: 1/-1;
}

.sale__text-deal {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale__text-caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.catalog__header {
  padding-bottom: 48px;
  text-align: center;
}

.catalog__subheader {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 6px;
  color: #222222;
}

.catalog__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.catalog-items__flex {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog__item {
  width: 360px;
  background: #F8F8F8;
  position: relative;
  display: flex;
  flex-direction: column;
}

.catalog__item-wrap {
  padding: 23px 28px 20px 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.catalog__img {
  transition: all 0.4s ease-out;
}

.catalog__item:hover .catalog__img {
  filter: brightness(50%);
}

.item-heading {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.item-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.item-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.cart {
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  height: 44px;
  width: 140px;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 190px;
  left: 110px;
}

.catalog__item:hover .cart {
  /* content: url("img/cart.svg") "Add To Cart"; */
  display: flex;
}

.svg__cart path,
.cart {
  transition: all 0.4s ease-out;
}

.cart:hover {
  box-shadow: 0 0 5px #FFFFFF;
}

.cart:hover .svg__cart path {
  fill: #E05C6E;
}

.catalog__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-browse {
  font-family: inherit;
  padding: 15px 39px 14px;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #F26376;
  color: #F26376;
  cursor: pointer;
  margin: 48px auto 60px;
  transition: all 0.3s ease-out;
}
.btn-browse:hover {
  color: #FFFFFF;
  background: #F26376;
}

.footer__advantages,
.footer__logo {
  background: #222224;
}

.footer__advantages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 103px;
  padding-bottom: 104px;
}

.advantages__item {
  max-width: 360px;
  min-height: 134px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.advantages__header {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}
.advantages__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding-left: 22px;
  padding-right: 22px;
}

.footer__subscribe {
  background: url("img/bg_subscribe.svg");
  background-size: cover;
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.subscribe_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe_item:nth-child(2) {
  min-width: 356px;
  padding-left: 101px;
  padding-right: 100px;
}
.subscribe_item img {
  max-width: 27%;
}
.subscribe__text-left {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 359.45px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.subscribe__right-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}
.subscribe__right-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 32px;
  text-align: center;
  color: #222224;
  /* width: 100%; */
}
.subscribe__right-form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.subscribe__input, .subscribe__btn {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  border: none;
  height: 49px;
}
.subscribe__input {
  background: #E1E1E1;
  color: #222224;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 22px;
  padding-right: 22px;
  width: 100%;
  flex-grow: 1;
}
.subscribe__input:focus {
  outline: none;
}
.subscribe__btn {
  background: #F16D7F;
  color: #FFFFFF;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 100px;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.subscribe__btn:hover {
  background: #E05C6E;
}

.footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
}
.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__logo-right {
  display: flex;
  gap: 7.3px;
}
.footer__logo-link {
  width: 31.45px;
  height: 32px;
  font-size: 16px;
  background: #FFFFFF;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.footer__logo-link:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .hidden-desctop {
    display: flex;
  }
  .hidden-tablet {
    display: none;
  }
  .header {
    height: 74px;
  }
  .header__logo {
    padding-left: 16px;
  }
  .header__menu {
    padding-right: 16px;
  }
  .top__content {
    gap: 39px;
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
    align-items: center;
  }
  .top__slogan {
    margin-bottom: 0px;
  }
  .top__title {
    font-size: 44px;
    line-height: 53px;
  }
  .top__subtitle {
    font-size: 24px;
    line-height: 29px;
  }
  .sale__content {
    gap: 19px;
    /* grid-template-rows: 168px 116px; */
    padding-bottom: 110px;
  }
  .item-long {
    min-height: 100%;
  }
  .catalog-items__flex {
    gap: 16px;
  }
  .catalog__header {
    padding-bottom: 72px;
  }
  .catalog__subheader {
    margin-bottom: 3px;
  }
  .btn-browse {
    margin: 32px auto 72px;
  }
  .footer__advantages {
    gap: 48.5px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .footer__subscribe {
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 128px;
  }
  .subscribe_item:nth-child(2) {
    padding-left: 0px;
    padding-right: 0px;
  }
  .subscribe__right-text {
    padding-bottom: 27px;
  }
  .footer__logo {
    padding-left: 32px;
    padding-right: 32px;
  }
  .cart-content {
    padding-top: 59px;
    flex-direction: column;
  }
  .shipping-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    width: auto;
  }
  .shipping {
    margin-top: 0;
  }
  .total {
    margin-top: 39px;
  }
  .cart-btn {
    width: auto;
  }
  .cart-btn__box {
    padding-top: 22px;
    justify-content: center;
  }
  .registration {
    padding-top: 40px;
  }
  .registration__right {
    font-size: 16px;
    line-height: 19px;
    max-width: none;
  }
  .registration__perks:first-child {
    margin-bottom: 11px;
  }
  .registration ul {
    gap: 20px;
  }
  .filter-box {
    justify-content: space-between;
    height: 71px;
    padding-top: 10px;
  }
  .filter {
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    left: calc(50% - 360px - 7px);
  }
  .choise {
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: calc(50% - 360px - 8px);
  }
  .filter[open] {
    position: absolute;
    left: 0px;
    left: calc(50% - 360px - 8px);
  }
  .pages-box {
    margin-top: 40px;
    margin-bottom: 63px;
  }
  .slider {
    height: 624px;
    position: relative;
    padding-top: 30px;
    padding-bottom: 29px;
  }
  .product-info {
    margin-top: 0;
  }
  .catalog__items_row-reverse {
    flex-direction: row-reverse;
  }
  .slider__arrow-right {
    translate: 0 50%;
  }
  .slider__arrow-left {
    translate: 0 50%;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__logo {
    padding-left: 0;
  }
  .header__menu {
    padding-right: 0;
    gap: 0;
  }
  .hidden-mobile {
    display: none;
  }
  .hidden-tablet {
    display: flex;
  }
  .top__content {
    padding-top: 148px;
    padding-bottom: 148px;
    justify-content: center;
  }
  .top__slogan {
    width: auto;
    padding-left: 15px;
  }
  .top__title {
    font-size: 38px;
    line-height: 46px;
  }
  .top__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .item-long {
    grid-column: span 1;
    min-height: 180px;
  }
  .top__img {
    display: none;
  }
  .top-block {
    flex-direction: column;
    justify-content: center;
  }
  .sale__content {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 64px;
    grid-template-columns: minmax(auto, 360px);
    gap: 32px;
    justify-content: center;
  }
  .sale__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .catalog__header {
    padding-bottom: 64px;
  }
  .btn-browse {
    margin: 40px auto 85px;
  }
  .footer__subscribe {
    padding-bottom: 110px;
  }
  .subscribe__text-left {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 22px;
  }
  .subscribe__right-text {
    font-size: 14px;
    line-height: 21px;
  }
  .footer__logo {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 143px;
    gap: 40px;
  }
  .footer__copyright {
    padding-bottom: 9px;
  }
  .cart-content {
    padding-top: 39px;
    padding-bottom: 96px;
    gap: 48px;
  }
  .cart-card {
    height: 188px;
  }
  .cart-card__title {
    font-size: 16px;
    line-height: 19px;
  }
  .cart-card__properties {
    gap: 4px;
  }
  .cart-card__property {
    font-size: 14px;
    line-height: 17px;
  }
  .cart-card__property_quantity {
    margin-left: 16px;
    font-size: 14px;
    line-height: 17px;
    height: 16px;
    width: 24px;
  }
  .cart-card__remove-item {
    height: 12px;
    width: 9px;
    top: 17px;
    right: 12px;
  }
  .cart-card__wrap {
    max-width: 146px;
    padding-top: 14px;
    padding-left: 17px;
    padding-right: 34px;
    gap: 26px;
  }
  .cart-btn {
    gap: 32px;
  }
  .cart-btn__box {
    justify-content: space-between;
    gap: 9px;
    margin-top: -2px;
    padding-top: 0;
  }
  .cart-btn__item {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #575757;
    padding: 0;
    height: 33px;
    width: 175px;
    text-transform: capitalize;
  }
  .shipping-total {
    flex-direction: column;
    align-items: stretch;
  }
  .shipping {
    width: auto;
  }
  .shipping__form {
    width: auto;
  }
  .shipping__btn {
    text-transform: capitalize;
  }
  .total {
    margin-top: 33px;
    width: auto;
  }
  .total__btn {
    padding: 15px 38px 15px;
    color: #575757;
  }
  .registration {
    flex-direction: column;
    align-items: center;
  }
  .registration__right {
    margin-top: 12px;
    width: 100%;
  }
  .registration__left {
    width: 100%;
  }
  .filter-box {
    justify-content: center;
    gap: 22px;
    position: relative;
  }
  .filter {
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    left: calc(50% - 180px);
  }
  .filter svg {
    width: 37.5px;
    height: 25px;
  }
  .choise {
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    right: calc(50% - 180px);
  }
  .filter[open] {
    position: absolute;
    top: 10px;
    left: 0px;
    left: calc(50% - 180px);
  }
  .product-info__text {
    padding-top: 20px;
    line-height: 20px;
    padding-bottom: 26px;
  }
  .product-info__price {
    padding-bottom: 19px;
  }
  .product-info__filter {
    padding-top: 36px;
    padding-bottom: 54px;
  }
  .product-info__filter__item {
    font-size: 10px;
    line-height: 12px;
  }
  .product-info__filter__form {
    top: 48px;
  }
  .product-info__filter__form-size {
    font-size: 10px;
    line-height: 12px;
  }
  .catalog-items__flex_product-padding {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .mobile-menu {
    align-items: center;
    width: 100%;
    right: -100%;
    top: 74px;
  }
  .mobile-menu__box {
    align-items: center;
  }
  .mobile-menu__sublink-box {
    align-items: center;
    padding-left: 0;
  }
}
@media (max-width: 374px) {
  .center {
    padding-left: 8px;
    padding-right: 8px;
  }
  .top__content {
    padding-top: 148px;
    padding-bottom: 148px;
    display: flex;
    justify-content: center;
  }
  .sale__content {
    grid-template-columns: minmax(auto, 304px);
    padding-left: 8px;
    padding-right: 8px;
  }
  .catalog__img {
    width: 100%;
  }
  .footer__advantages {
    gap: 46.5px;
    padding-bottom: 81px;
  }
  .subscribe__text-left {
    font-size: 18px;
    line-height: 22px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .subscribe_item:nth-child(2) {
    min-width: calc(100vw - 16px);
  }
  .footer__logo {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: 143px;
    gap: 40px;
  }
  .footer__copyright {
    padding-bottom: 9px;
  }
  .cart-card__wrap {
    padding-right: 20px;
  }
  .registration__left {
    width: auto;
  }
  .registration__right {
    width: auto;
  }
  .product-info__filter {
    gap: 10px;
  }
  .total__btn {
    padding: 15px;
    align-self: stretch;
  }
}/*# sourceMappingURL=style.css.map */