* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #FFFFFF;
}

.content-wrap {
    width: 1170px;
    margin: 0 auto;
}

.header {
    margin-top: 40px;
    margin-bottom: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    gap: 34px;
}

.nav_link {
    text-decoration: none;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.nav_link i {
    font-size: 0.6em;
}

.nav_link:nth-child(1) {
    color: #F25822;
}

.nav_link:not(:nth-child(1)) {
    color: #000;
}

.top__content {
    margin-bottom: 162px;
    display: flex;
    justify-content: space-between;
    padding-right: 64px;
}

.title {
    margin-bottom: 17px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
}

.text {
    padding-right: 95px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top__btn {
    margin-top: 37px;
    display: flex;
    align-items: center;
    gap: 72px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 15px;
    line-height: 18px;
}

.btn:nth-child(1) {
    width: 140px;
    height: 50px;
    color: #FFFFFF;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
}

.btn:nth-child(2) {
    color: #888888;
    background: none;
}

.top__logo {
    margin-top: 97px;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}