@font-face {
    font-family: 'Gilroy-SemiBold';
    src: local('Gilroy-SemiBold'),
        url('fonts/Gilroy-SemiBold.ttf') format('truetype'),
        url('fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'),
        url('fonts/Gilroy-Bold.ttf') format('truetype'),
        url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'),
        url('fonts/Gilroy-Medium.ttf') format('truetype'),
        url('fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
    font-family: sans-serif;
}

.content-wrap {
    width: 1170px;
    margin: 0 auto;
}

.header {
    margin-top: 40px;
    margin-bottom: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* line-height: 0.65; */
}

.header__logo {
    display: flex;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
}

.nav_link {
    text-decoration: none;
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.nav_link i {
    font-size: 0.6em;
}

.nav_link:nth-child(1) {
    color: #F25822;
}

.nav_link:not(:nth-child(1)) {
    color: #000;
}

.top__content {
    margin-bottom: 162px;
    display: flex;
    justify-content: space-between;
    padding-right: 63px;
}

.title {
    margin-bottom: 17px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 60px;
    line-height: 74px;
    color: #000000;

    /* transform: scaleX(0.95);
    transform-origin: 0 100% */
}

.text {
    padding-right: 58px;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #888888;
}

.top__btn {
    margin-top: 37px;
    display: flex;
    align-items: center;
    gap: 72px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 15px;
    line-height: 18px;
    cursor: pointer;
}

.btn:nth-child(1) {
    width: 140px;
    height: 50px;
    color: #FFFFFF;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
}

.btn:nth-child(2) {
    color: #888888;
    background: none;
}

.top__logo {
    margin-top: 97px;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}